{
  "extends": "simbo/default/node",
  "rules": {
    "require-jsdoc": 0,
    "sort-vars": 0,
    "new-cap": [2, {
      "capIsNewExceptions": [
        "require('express').Router",
        "express.Router"
      ]
    }],
    "no-underscore-dangle": [1, {
      "allow": [
        "__express"
      ]
    }]
  }
}
