{
  "extends": "simbo/default/node",
  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": [
        "require('express').Router",
        "express.Router"
      ]
    }],
    "no-underscore-dangle": [1, {
      "allow": [
        "__express"
      ]
    }]
  }
}
